
:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --orange: #ff3e00;
  --light-orange: #e0663e;
  --dark-grey: #1d1e22;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--dark-grey);
    color: white;
  }
  a:visited {
    color: var(--light-orange);
  }
  .logo_img {
    filter: invert(0.88)
  }
}